In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2
from config import db_password

import time

In [2]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [3]:
# 1 Add the function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)

def extract_transform_load():
    # Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.
    
    kaggle_metadata  = pd.read_csv(kaggle_file, low_memory=False)
    ratings = pd.read_csv(ratings_file)

    with open(wiki_file, mode='r') as file:
        wiki_movies_raw = json.load(file) 
    wiki_movies_df = pd.DataFrame(wiki_movies_raw)
    
    # 3. Write a list comprehension to filter out TV shows.
    wiki_movies = [movie for movie in wiki_movies_raw
        if ('Director' in movie or 'Directed by' in movie)
            and 'imdb_link' in movie
            and 'No. of episodes' not in movie]
    
    # 4. Write a list comprehension to iterate through the cleaned wiki movies list
    # and call the clean_movie function on each movie.
    clean_movies = [clean_movie(movie) for movie in wiki_movies]
    
    # 5. Read in the cleaned movies list from Step 4 as a DataFrame.
    wiki_movies_df = pd.DataFrame(clean_movies)
    wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
    #print(len(wiki_movies_df))
    wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
    #print(len(wiki_movies_df))
    wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
    wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
    

    # 6. Write a try-except block to catch errors while extracting the IMDb ID using a regular expression string and
    #  dropping any imdb_id duplicates. If there is an error, capture and print the exception.
#    try:
        
#    except 

    #  7. Write a list comprehension to keep the columns that don't have null values from the wiki_movies_df DataFrame.


    # 8. Create a variable that will hold the non-null values from the “Box office” column.
    box_office = wiki_movies_df['Box office'].dropna()
    
    # 9. Convert the box office data created in Step 8 to string values using the lambda and join functions.
    def is_not_a_string(x):
        return type(x) != str
    #box_office[box_office.map(is_not_a_string)]
    #box_office[box_office.map(lambda x: type(x) != str)]
    box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

    # 10. Write a regular expression to match the six elements of "form_one" of the box office data.
    form_one = r'\$\d+\.?\d*\s*[mb]illion'
    #box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

    # 11. Write a regular expression to match the three elements of "form_two" of the box office data.
    form_two = r'\$\d{1,3}(?:,\d{3})+'
    box_office.str.contains(form_two, flags=re.IGNORECASE).sum()
    matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
    matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)
    #box_office[~matches_form_one & ~matches_form_two]
    form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
    box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
    #box_office.str.extract(f'({form_one}|{form_two})')
    
####################################################################
    # 12. Add the parse_dollars function.
    def parse_dollars(s):
        # if s is not a string, return NaN
        if type(s) != str:
            return np.nan

        # if input is of the form $###.# million
        if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

            # remove dollar sign and " million"
            s = re.sub('\$|\s|[a-zA-Z]','', s)

            # convert to float and multiply by a million
            value = float(s) * 10**6

            # return value
            return value

        # if input is of the form $###.# billion
        elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

            # remove dollar sign and " billion"
            s = re.sub('\$|\s|[a-zA-Z]','', s)

            # convert to float and multiply by a billion
            value = float(s) * 10**9

            # return value
            return value

        # if input is of the form $###,###,###
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

            # remove dollar sign and commas
            s = re.sub('\$|,','', s)

            # convert to float
            value = float(s)

            # return value
            return value

        # otherwise, return NaN
        else:
            return np.nan
    
        
    # 13. Clean the box office column in the wiki_movies_df DataFrame.
    wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
    wiki_movies_df.drop('Box office', axis=1, inplace=True)

    # 14. Clean the budget column in the wiki_movies_df DataFrame.
    budget = wiki_movies_df['Budget'].dropna()
    budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)
    budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
    matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
    #budget[~matches_form_one & ~matches_form_two]
    budget = budget.str.replace(r'\[\d+\]\s*', '', regex=True)
    #budget[~matches_form_one & ~matches_form_two]
    wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
    wiki_movies_df.drop('Budget', axis=1, inplace=True)

    # 15. Clean the release date column in the wiki_movies_df DataFrame.
    release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
    date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
    date_form_two = r'\d{4}.[01]\d.[123]\d'
    date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
    date_form_four = r'\d{4}'
    release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)
    wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

    # 16. Clean the running time column in the wiki_movies_df DataFrame.
    running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
    running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()
    running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]
    running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()
    running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]
    running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
    running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)
    wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)
    wiki_movies_df.drop('Running time', axis=1, inplace=True)
    
    
     
    # 2. Clean the Kaggle metadata.
    
    kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')
    kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'
    kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
    kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
    kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')
    kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])
    ratings.info(show_counts=True)
    
    
    
    
    
    # 3. Merged the two DataFrames into the movies DataFrame.
    movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])
    movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

    
    # 4. Drop unnecessary columns from the merged DataFrame.
    movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)
    
    
    # 5. Add in the function to fill in the missing Kaggle data.
    def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
        df[kaggle_column] = df.apply(
            lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
            , axis=1)
        df.drop(columns=wiki_column, inplace=True)
    

    # 6. Call the function in Step 5 with the DataFrame and columns as the arguments.
    fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
    fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
    fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

    # 7. Filter the movies DataFrame for specific columns.
    for col in movies_df.columns:
        lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
        value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
        num_values = len(value_counts)

    # 8. Rename the columns in the movies DataFrame.
    movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                           'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                           'genres','original_language','overview','spoken_languages','Country',
                           'production_companies','production_countries','Distributor',
                           'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                          ]]
    
    movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

    # 9. Transform and merge the ratings DataFrame
    rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()
    rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)
    rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')
    rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]
    
    movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')
    movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)
        
    return wiki_movies_df, movies_with_ratings_df, movies_df, ratings

In [4]:
# 10. Create the path to your file directory and variables for the three files.
file_dir = 'C://Users/wolfi/NUData/Lesson 8/Movies-ETL'
# The Wikipedia data
wiki_file = f'{file_dir}/Data/wikipedia-movies.json'
# The Kaggle metadata
kaggle_file = f'{file_dir}/Data/movies_metadata.csv'
# The MovieLens rating data.
ratings_file = f'{file_dir}/Data/ratings.csv'
# ratings placeholder
ratings = ''

In [5]:
# 11. Set the three variables equal to the function created in D1.
wiki_file, kaggle_file, ratings_file, ratings = extract_transform_load()

<ipython-input-3-a11e7e39b975>:127: FutureWarning: The default value of regex will change from True to False in a future version.
  budget = budget.str.replace(r'\[\d+\]\s*', '')
<ipython-input-3-a11e7e39b975>:162: FutureWarning: null_counts is deprecated. Use show_counts instead
  ratings.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   userId     26024289 non-null  int64
 1   movieId    26024289 non-null  int64
 2   rating     26024289 non-null  float64
 3   timestamp  26024289 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [6]:
# 12. Set the DataFrames from the return statement equal to the file names in Step 11. 
wiki_movies_df = wiki_file
movies_with_ratings_df = ratings_file
movies_df = kaggle_file

In [7]:
# 13. Check the wiki_movies_df DataFrame. 
wiki_movies_df.head()

,url,year,imdb_link,title,Based on,Starring,Cinematography,Release date,Country,Language,...,Editor(s),Composer(s),Producer(s),Production company(s),Writer(s),imdb_id,box_office,budget,release_date,running_time
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",United States,English,...,Michael Tronick,"[Cliff Eidelman, Yello]","[Steve Perry, Joel Silver]",Silver Pictures,"[David Arnott, James Cappe]",tt0098987,21400000.0,20000000.0,1990-07-11,102.0
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",United States,English,...,Howard E. Smith,Maurice Jarre,"[Ric Kidney, Robert Redlin]",Avenue Pictures,"[James Foley, Robert Redlin]",tt0098994,2700000.0,6000000.0,1990-05-17,114.0
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",United States,"[English, Lao]",...,"[John Bloom, Lois Freeman-Fox]",Charles Gross,Daniel Melnick,"[Carolco Pictures, IndieProd Company]","[John Eskow, Richard Rush]",tt0099005,57718089.0,35000000.0,1990-08-10,113.0
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",United States,English,...,Susan E. Morse,NaN,Robert Greenhut,NaN,Woody Allen,tt0099012,7331647.0,12000000.0,1990-12-25,106.0
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,"December 19, 1990",US,English,...,David Stiven,Maurice Jarre,John Cornell,NaN,Paul Hogan,tt0099018,6939946.0,25000000.0,1990-12-19,95.0

In [8]:
# 14. Check the movies_with_ratings_df DataFrame.
movies_with_ratings_df.head()

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,imdb_link,runtime,budget,...,production_countries,distributor,producers,director,starring,cinematography,editors,writers,composers,based_on
0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.imdb.com/title/tt0098987/,104.0,49000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",20th Century Fox,"[Steve Perry, Joel Silver]",Renny Harlin,"[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,Michael Tronick,"[David Arnott, James Cappe]","[Cliff Eidelman, Yello]","[Characters, by Rex Weiner]"
1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",https://www.imdb.com/title/tt0098994/,114.0,6000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Avenue Pictures,"[Ric Kidney, Robert Redlin]",James Foley,"[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,Howard E. Smith,"[James Foley, Robert Redlin]",Maurice Jarre,"[the novel, After Dark, My Sweet, by, Jim Thom..."
2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),https://www.imdb.com/title/tt0099005/,112.0,35000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",TriStar Pictures,Daniel Melnick,Roger Spottiswoode,"[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,"[John Bloom, Lois Freeman-Fox]","[John Eskow, Richard Rush]",Charles Gross,"[Air America, by, Christopher Robbins]"
3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),https://www.imdb.com/title/tt0099012/,102.0,12000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Orion Pictures,Robert Greenhut,Woody Allen,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,Susan E. Morse,Woody Allen,NaN,NaN
4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,https://www.imdb.com/title/tt0099018/,95.0,25000000.0,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Paramount Pictures,John Cornell,John Cornell,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,David Stiven,Paul Hogan,Maurice Jarre,NaN

In [9]:
# 15. Check the movies_df DataFrame. 
movies_df.head()

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,imdb_link,runtime,budget,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.imdb.com/title/tt0098987/,104.0,49000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",https://www.imdb.com/title/tt0098994/,114.0,6000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),https://www.imdb.com/title/tt0099005/,112.0,35000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),https://www.imdb.com/title/tt0099012/,102.0,12000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,https://www.imdb.com/title/tt0099018/,95.0,25000000.0,...,3.0,0.0,3.0,2.0,5.0,26.0,37.0,46.0,16.0,11.0

In [10]:
#updated from postgres to postgresql imagee: postgre_update_postgresql.PNG
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [11]:
engine = create_engine(db_string)

In [12]:
#save the movies_df to movies database
movies_df.to_sql(name='movies', con=engine, if_exists='replace')

In [13]:
#save the movies_with_ratings_df to movies_with_ratings database
movies_with_ratings_df.to_sql(name='movies_with_ratings', con=engine, if_exists='replace')

In [14]:
#save the wiki_movies_df to wiki_movies database
wiki_movies_df.to_sql(name='wiki_movies', con=engine, if_exists='replace')

In [15]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/Data/ratings.csv', chunksize=100000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 100000...Done. 5.253008842468262 total seconds elapsed
importing rows 100000 to 200000...Done. 9.838573694229126 total seconds elapsed
importing rows 200000 to 300000...Done. 14.626014471054077 total seconds elapsed
importing rows 300000 to 400000...Done. 19.496724128723145 total seconds elapsed
importing rows 400000 to 500000...Done. 23.989227294921875 total seconds elapsed
importing rows 500000 to 600000...Done. 28.835918426513672 total seconds elapsed
importing rows 600000 to 700000...Done. 33.31272888183594 total seconds elapsed
importing rows 700000 to 800000...Done. 37.7355215549469 total seconds elapsed
importing rows 800000 to 900000...Done. 42.23232316970825 total seconds elapsed
importing rows 900000 to 1000000...Done. 46.9544563293457 total seconds elapsed
importing rows 1000000 to 1100000...Done. 51.53301000595093 total seconds elapsed
importing rows 1100000 to 1200000...Done. 56.03213882446289 total seconds elapsed
importing rows 1200000 to 1300000...Done. 60.44355058670044 total seconds elapsed
importing rows 1300000 to 1400000...Done. 65.64616250991821 total seconds elapsed
importing rows 1400000 to 1500000...Done. 70.81115484237671 total seconds elapsed
importing rows 1500000 to 1600000...Done. 76.18282127380371 total seconds elapsed
importing rows 1600000 to 1700000...Done. 81.15787243843079 total seconds elapsed
importing rows 1700000 to 1800000...Done. 86.23239803314209 total seconds elapsed
importing rows 1800000 to 1900000...Done. 91.27213191986084 total seconds elapsed
importing rows 1900000 to 2000000...Done. 96.78972005844116 total seconds elapsed
importing rows 2000000 to 2100000...Done. 103.6763277053833 total seconds elapsed
importing rows 2100000 to 2200000...Done. 108.68342971801758 total seconds elapsed
importing rows 2200000 to 2300000...Done. 114.14169907569885 total seconds elapsed
importing rows 2300000 to 2400000...Done. 118.55695986747742 total seconds elapsed
importing rows 2400000 to 2500000...Done. 123.23815321922302 total seconds elapsed
importing rows 2500000 to 2600000...Done. 127.56614017486572 total seconds elapsed
importing rows 2600000 to 2700000...Done. 132.09391927719116 total seconds elapsed
importing rows 2700000 to 2800000...Done. 136.6481008529663 total seconds elapsed
importing rows 2800000 to 2900000...Done. 141.1171202659607 total seconds elapsed
importing rows 2900000 to 3000000...Done. 145.55355048179626 total seconds elapsed
importing rows 3000000 to 3100000...Done. 150.07264280319214 total seconds elapsed
importing rows 3100000 to 3200000...Done. 154.44325160980225 total seconds elapsed
importing rows 3200000 to 3300000...Done. 159.22398018836975 total seconds elapsed
importing rows 3300000 to 3400000...Done. 163.63781023025513 total seconds elapsed
importing rows 3400000 to 3500000...Done. 168.12778759002686 total seconds elapsed
importing rows 3500000 to 3600000...Done. 172.6269290447235 total seconds elapsed
importing rows 3600000 to 3700000...Done. 177.06917786598206 total seconds elapsed
importing rows 3700000 to 3800000...Done. 181.56024432182312 total seconds elapsed
importing rows 3800000 to 3900000...Done. 186.2022910118103 total seconds elapsed
importing rows 3900000 to 4000000...Done. 190.68308329582214 total seconds elapsed
importing rows 4000000 to 4100000...Done. 195.15282106399536 total seconds elapsed
importing rows 4100000 to 4200000...Done. 199.58967471122742 total seconds elapsed
importing rows 4200000 to 4300000...Done. 204.03166604042053 total seconds elapsed
importing rows 4300000 to 4400000...Done. 208.41297435760498 total seconds elapsed
importing rows 4400000 to 4500000...Done. 213.04615783691406 total seconds elapsed
importing rows 4500000 to 4600000...Done. 217.81247401237488 total seconds elapsed
importing rows 4600000 to 4700000...Done. 222.37126874923706 total seconds elapsed
importing rows 4700000 to 4800000...Done. 227.060955286026 total seconds elapsed
importing rows 4800000 to 4900000...Done. 231.6683337688446 total seconds elapsed
importing rows 4900000 to 5000000...Done. 236.1146423816681 total seconds elapsed
importing rows 5000000 to 5100000...Done. 240.7001030445099 total seconds elapsed
importing rows 5100000 to 5200000...Done. 245.12326979637146 total seconds elapsed
importing rows 5200000 to 5300000...Done. 249.5989489555359 total seconds elapsed
importing rows 5300000 to 5400000...Done. 254.1926236152649 total seconds elapsed
importing rows 5400000 to 5500000...Done. 258.5700786113739 total seconds elapsed
importing rows 5500000 to 5600000...Done. 262.9746470451355 total seconds elapsed
importing rows 5600000 to 5700000...Done. 267.5285177230835 total seconds elapsed
importing rows 5700000 to 5800000...Done. 272.27479100227356 total seconds elapsed
importing rows 5800000 to 5900000...Done. 276.80079984664917 total seconds elapsed
importing rows 5900000 to 6000000...Done. 281.20823860168457 total seconds elapsed
importing rows 6000000 to 6100000...Done. 285.74041748046875 total seconds elapsed
importing rows 6100000 to 6200000...Done. 290.2631587982178 total seconds elapsed
importing rows 6200000 to 6300000...Done. 294.7308382987976 total seconds elapsed
importing rows 6300000 to 6400000...Done. 299.24008202552795 total seconds elapsed
importing rows 6400000 to 6500000...Done. 303.6311149597168 total seconds elapsed
importing rows 6500000 to 6600000...Done. 307.927077293396 total seconds elapsed
importing rows 6600000 to 6700000...Done. 312.48024582862854 total seconds elapsed
importing rows 6700000 to 6800000...Done. 316.9701797962189 total seconds elapsed
importing rows 6800000 to 6900000...Done. 321.51654028892517 total seconds elapsed
importing rows 6900000 to 7000000...Done. 326.0810868740082 total seconds elapsed
importing rows 7000000 to 7100000...Done. 330.4124901294708 total seconds elapsed
importing rows 7100000 to 7200000...Done. 334.9414200782776 total seconds elapsed
importing rows 7200000 to 7300000...Done. 339.3548860549927 total seconds elapsed
importing rows 7300000 to 7400000...Done. 343.878488779068 total seconds elapsed
importing rows 7400000 to 7500000...Done. 348.3912317752838 total seconds elapsed
importing rows 7500000 to 7600000...Done. 352.8555989265442 total seconds elapsed
importing rows 7600000 to 7700000...Done. 357.3480589389801 total seconds elapsed
importing rows 7700000 to 7800000...Done. 361.84160470962524 total seconds elapsed
importing rows 7800000 to 7900000...Done. 366.46578431129456 total seconds elapsed
importing rows 7900000 to 8000000...Done. 371.1289498806 total seconds elapsed
importing rows 8000000 to 8100000...Done. 375.7384521961212 total seconds elapsed
importing rows 8100000 to 8200000...Done. 380.2885663509369 total seconds elapsed
importing rows 8200000 to 8300000...Done. 385.14767932891846 total seconds elapsed
importing rows 8300000 to 8400000...Done. 389.7127788066864 total seconds elapsed
importing rows 8400000 to 8500000...Done. 394.20062041282654 total seconds elapsed
importing rows 8500000 to 8600000...Done. 398.6636610031128 total seconds elapsed
importing rows 8600000 to 8700000...Done. 403.13859605789185 total seconds elapsed
importing rows 8700000 to 8800000...Done. 407.6954126358032 total seconds elapsed
importing rows 8800000 to 8900000...Done. 412.19797015190125 total seconds elapsed
importing rows 8900000 to 9000000...Done. 416.7855291366577 total seconds elapsed
importing rows 9000000 to 9100000...Done. 421.16105341911316 total seconds elapsed
importing rows 9100000 to 9200000...Done. 425.754949092865 total seconds elapsed
importing rows 9200000 to 9300000...Done. 430.15751099586487 total seconds elapsed
importing rows 9300000 to 9400000...Done. 434.71726274490356 total seconds elapsed
importing rows 9400000 to 9500000...Done. 439.0476133823395 total seconds elapsed
importing rows 9500000 to 9600000...Done. 443.92363119125366 total seconds elapsed
importing rows 9600000 to 9700000...Done. 448.6417911052704 total seconds elapsed
importing rows 9700000 to 9800000...Done. 453.14292454719543 total seconds elapsed
importing rows 9800000 to 9900000...Done. 457.53227734565735 total seconds elapsed
importing rows 9900000 to 10000000...Done. 461.9777171611786 total seconds elapsed

importing rows 10000000 to 10100000...Done. 466.0019929409027 total seconds elapsed
importing rows 10100000 to 10200000...Done. 469.223424911499 total seconds elapsed
importing rows 10200000 to 10300000...Done. 472.5293095111847 total seconds elapsed
importing rows 10300000 to 10400000...Done. 475.819641828537 total seconds elapsed
importing rows 10400000 to 10500000...Done. 479.04172134399414 total seconds elapsed
importing rows 10500000 to 10600000...Done. 482.29623436927795 total seconds elapsed
importing rows 10600000 to 10700000...Done. 485.5396385192871 total seconds elapsed
importing rows 10700000 to 10800000...Done. 488.7939224243164 total seconds elapsed
importing rows 10800000 to 10900000...Done. 492.08518242836 total seconds elapsed
importing rows 10900000 to 11000000...Done. 495.3905465602875 total seconds elapsed
importing rows 11000000 to 11100000...Done. 498.7116856575012 total seconds elapsed
importing rows 11100000 to 11200000...Done. 501.9500513076782 total seconds elapsed
importing rows 11200000 to 11300000...Done. 505.1947572231293 total seconds elapsed
importing rows 11300000 to 11400000...Done. 508.46172189712524 total seconds elapsed
importing rows 11400000 to 11500000...Done. 511.70724868774414 total seconds elapsed
importing rows 11500000 to 11600000...Done. 515.7308404445648 total seconds elapsed
importing rows 11600000 to 11700000...Done. 519.0371634960175 total seconds elapsed
importing rows 11700000 to 11800000...Done. 522.3598310947418 total seconds elapsed
importing rows 11800000 to 11900000...Done. 525.5817718505859 total seconds elapsed
importing rows 11900000 to 12000000...Done. 528.8423140048981 total seconds elapsed
importing rows 12000000 to 12100000...Done. 532.0988776683807 total seconds elapsed
importing rows 12100000 to 12200000...Done. 535.3208737373352 total seconds elapsed
importing rows 12200000 to 12300000...Done. 538.5624108314514 total seconds elapsed
importing rows 12300000 to 12400000...Done. 541.8527359962463 total seconds elapsed
importing rows 12400000 to 12500000...Done. 545.1209485530853 total seconds elapsed
importing rows 12500000 to 12600000...Done. 548.3957226276398 total seconds elapsed
importing rows 12600000 to 12700000...Done. 551.6245148181915 total seconds elapsed
importing rows 12700000 to 12800000...Done. 554.9226443767548 total seconds elapsed
importing rows 12800000 to 12900000...Done. 558.1628260612488 total seconds elapsed
importing rows 12900000 to 13000000...Done. 561.455863237381 total seconds elapsed
importing rows 13000000 to 13100000...Done. 564.6801908016205 total seconds elapsed
importing rows 13100000 to 13200000...Done. 568.0117514133453 total seconds elapsed
importing rows 13200000 to 13300000...Done. 571.2523589134216 total seconds elapsed
importing rows 13300000 to 13400000...Done. 574.5926373004913 total seconds elapsed
importing rows 13400000 to 13500000...Done. 577.8173484802246 total seconds elapsed
importing rows 13500000 to 13600000...Done. 581.1621360778809 total seconds elapsed
importing rows 13600000 to 13700000...Done. 584.4155750274658 total seconds elapsed
importing rows 13700000 to 13800000...Done. 587.72243309021 total seconds elapsed
importing rows 13800000 to 13900000...Done. 590.9440109729767 total seconds elapsed
importing rows 13900000 to 14000000...Done. 594.27272605896 total seconds elapsed
importing rows 14000000 to 14100000...Done. 597.5096371173859 total seconds elapsed
importing rows 14100000 to 14200000...Done. 600.8506734371185 total seconds elapsed
importing rows 14200000 to 14300000...Done. 604.0919511318207 total seconds elapsed
importing rows 14300000 to 14400000...Done. 607.4002633094788 total seconds elapsed
importing rows 14400000 to 14500000...Done. 610.6327764987946 total seconds elapsed
importing rows 14500000 to 14600000...Done. 613.9911453723907 total seconds elapsed
importing rows 14600000 to 14700000...Done. 617.2315449714661 total seconds elapsed
importing rows 14700000 to 14800000...Done. 620.5509707927704 total seconds elapsed
importing rows 14800000 to 14900000...Done. 623.7727982997894 total seconds elapsed
importing rows 14900000 to 15000000...Done. 627.1247420310974 total seconds elapsed
importing rows 15000000 to 15100000...Done. 630.3856935501099 total seconds elapsed
importing rows 15100000 to 15200000...Done. 633.7136986255646 total seconds elapsed
importing rows 15200000 to 15300000...Done. 636.9131820201874 total seconds elapsed
importing rows 15300000 to 15400000...Done. 640.2260549068451 total seconds elapsed
importing rows 15400000 to 15500000...Done. 643.4630517959595 total seconds elapsed
importing rows 15500000 to 15600000...Done. 646.8560402393341 total seconds elapsed
importing rows 15600000 to 15700000...Done. 650.1792261600494 total seconds elapsed
importing rows 15700000 to 15800000...Done. 653.4846606254578 total seconds elapsed
importing rows 15800000 to 15900000...Done. 656.7372648715973 total seconds elapsed
importing rows 15900000 to 16000000...Done. 660.0644662380219 total seconds elapsed
importing rows 16000000 to 16100000...Done. 663.2022597789764 total seconds elapsed
importing rows 16100000 to 16200000...Done. 666.5390181541443 total seconds elapsed
importing rows 16200000 to 16300000...Done. 669.8143956661224 total seconds elapsed
importing rows 16300000 to 16400000...Done. 673.1664900779724 total seconds elapsed
importing rows 16400000 to 16500000...Done. 676.3941957950592 total seconds elapsed
importing rows 16500000 to 16600000...Done. 679.7304971218109 total seconds elapsed
importing rows 16600000 to 16700000...Done. 683.1545886993408 total seconds elapsed
importing rows 16700000 to 16800000...Done. 686.7157819271088 total seconds elapsed
importing rows 16800000 to 16900000...Done. 690.052248954773 total seconds elapsed
importing rows 16900000 to 17000000...Done. 693.390857219696 total seconds elapsed
importing rows 17000000 to 17100000...Done. 696.6500687599182 total seconds elapsed
importing rows 17100000 to 17200000...Done. 699.9571607112885 total seconds elapsed
importing rows 17200000 to 17300000...Done. 703.1964874267578 total seconds elapsed
importing rows 17300000 to 17400000...Done. 706.5003407001495 total seconds elapsed
importing rows 17400000 to 17500000...Done. 709.7764909267426 total seconds elapsed
importing rows 17500000 to 17600000...Done. 713.0836341381073 total seconds elapsed
importing rows 17600000 to 17700000...Done. 716.352089881897 total seconds elapsed
importing rows 17700000 to 17800000...Done. 719.6578061580658 total seconds elapsed
importing rows 17800000 to 17900000...Done. 722.866378068924 total seconds elapsed
importing rows 17900000 to 18000000...Done. 726.1701195240021 total seconds elapsed
importing rows 18000000 to 18100000...Done. 729.3913202285767 total seconds elapsed
importing rows 18100000 to 18200000...Done. 732.7197546958923 total seconds elapsed
importing rows 18200000 to 18300000...Done. 735.9733908176422 total seconds elapsed
importing rows 18300000 to 18400000...Done. 739.2669298648834 total seconds elapsed
importing rows 18400000 to 18500000...Done. 742.50692486763 total seconds elapsed
importing rows 18500000 to 18600000...Done. 745.8694365024567 total seconds elapsed
importing rows 18600000 to 18700000...Done. 749.1390852928162 total seconds elapsed
importing rows 18700000 to 18800000...Done. 752.3868124485016 total seconds elapsed
importing rows 18800000 to 18900000...Done. 755.6645488739014 total seconds elapsed
importing rows 18900000 to 19000000...Done. 758.9733901023865 total seconds elapsed
importing rows 19000000 to 19100000...Done. 762.2446208000183 total seconds elapsed
importing rows 19100000 to 19200000...Done. 765.553416967392 total seconds elapsed
importing rows 19200000 to 19300000...Done. 768.8312847614288 total seconds elapsed
importing rows 19300000 to 19400000...Done. 772.1715018749237 total seconds elapsed
importing rows 19400000 to 19500000...Done. 775.4491429328918 total seconds elapsed
importing rows 19500000 to 19600000...Done. 778.7742731571198 total seconds elapsed
importing rows 19600000 to 19700000...Done. 782.0145337581635 total seconds elapsed
importing rows 19700000 to 19800000...Done. 785.275149345398 total seconds elapsed

importing rows 19800000 to 19900000...Done. 788.5285365581512 total seconds elapsed
importing rows 19900000 to 20000000...Done. 791.7850503921509 total seconds elapsed
importing rows 20000000 to 20100000...Done. 795.0234925746918 total seconds elapsed
importing rows 20100000 to 20200000...Done. 798.2983794212341 total seconds elapsed
importing rows 20200000 to 20300000...Done. 801.5877072811127 total seconds elapsed
importing rows 20300000 to 20400000...Done. 804.8429236412048 total seconds elapsed
importing rows 20400000 to 20500000...Done. 808.1472568511963 total seconds elapsed
importing rows 20500000 to 20600000...Done. 811.3712151050568 total seconds elapsed
importing rows 20600000 to 20700000...Done. 814.6980829238892 total seconds elapsed
importing rows 20700000 to 20800000...Done. 817.9502329826355 total seconds elapsed
importing rows 20800000 to 20900000...Done. 821.2725756168365 total seconds elapsed
importing rows 20900000 to 21000000...Done. 824.4921700954437 total seconds elapsed
importing rows 21000000 to 21100000...Done. 827.8238611221313 total seconds elapsed
importing rows 21100000 to 21200000...Done. 831.0459945201874 total seconds elapsed
importing rows 21200000 to 21300000...Done. 834.3366556167603 total seconds elapsed
importing rows 21300000 to 21400000...Done. 837.6197428703308 total seconds elapsed
importing rows 21400000 to 21500000...Done. 840.9794039726257 total seconds elapsed
importing rows 21500000 to 21600000...Done. 844.2546553611755 total seconds elapsed
importing rows 21600000 to 21700000...Done. 847.5081248283386 total seconds elapsed
importing rows 21700000 to 21800000...Done. 850.7676725387573 total seconds elapsed
importing rows 21800000 to 21900000...Done. 854.0666882991791 total seconds elapsed
importing rows 21900000 to 22000000...Done. 857.3629415035248 total seconds elapsed
importing rows 22000000 to 22100000...Done. 860.6159715652466 total seconds elapsed
importing rows 22100000 to 22200000...Done. 863.9073326587677 total seconds elapsed
importing rows 22200000 to 22300000...Done. 867.1880464553833 total seconds elapsed
importing rows 22300000 to 22400000...Done. 870.5500476360321 total seconds elapsed
importing rows 22400000 to 22500000...Done. 873.7874457836151 total seconds elapsed
importing rows 22500000 to 22600000...Done. 877.1163294315338 total seconds elapsed
importing rows 22600000 to 22700000...Done. 880.3539786338806 total seconds elapsed
importing rows 22700000 to 22800000...Done. 883.6764657497406 total seconds elapsed
importing rows 22800000 to 22900000...Done. 886.9514882564545 total seconds elapsed
importing rows 22900000 to 23000000...Done. 890.3041110038757 total seconds elapsed
importing rows 23000000 to 23100000...Done. 893.4943323135376 total seconds elapsed
importing rows 23100000 to 23200000...Done. 896.6694869995117 total seconds elapsed
importing rows 23200000 to 23300000...Done. 900.0066723823547 total seconds elapsed
importing rows 23300000 to 23400000...Done. 903.2285759449005 total seconds elapsed
importing rows 23400000 to 23500000...Done. 906.5500266551971 total seconds elapsed
importing rows 23500000 to 23600000...Done. 909.8085067272186 total seconds elapsed
importing rows 23600000 to 23700000...Done. 913.162891626358 total seconds elapsed
importing rows 23700000 to 23800000...Done. 916.4227633476257 total seconds elapsed
importing rows 23800000 to 23900000...Done. 919.6614587306976 total seconds elapsed
importing rows 23900000 to 24000000...Done. 922.9863586425781 total seconds elapsed
importing rows 24000000 to 24100000...Done. 926.2479536533356 total seconds elapsed
importing rows 24100000 to 24200000...Done. 929.6036670207977 total seconds elapsed
importing rows 24200000 to 24300000...Done. 932.8810884952545 total seconds elapsed
importing rows 24300000 to 24400000...Done. 936.1212198734283 total seconds elapsed
importing rows 24400000 to 24500000...Done. 939.4522340297699 total seconds elapsed
importing rows 24500000 to 24600000...Done. 942.723296880722 total seconds elapsed
importing rows 24600000 to 24700000...Done. 946.0695083141327 total seconds elapsed
importing rows 24700000 to 24800000...Done. 949.2965540885925 total seconds elapsed
importing rows 24800000 to 24900000...Done. 952.5482339859009 total seconds elapsed
importing rows 24900000 to 25000000...Done. 955.8884472846985 total seconds elapsed
importing rows 25000000 to 25100000...Done. 959.1189496517181 total seconds elapsed
importing rows 25100000 to 25200000...Done. 962.4756217002869 total seconds elapsed
importing rows 25200000 to 25300000...Done. 965.7534732818604 total seconds elapsed
importing rows 25300000 to 25400000...Done. 968.9781670570374 total seconds elapsed
importing rows 25400000 to 25500000...Done. 972.359757900238 total seconds elapsed
importing rows 25500000 to 25600000...Done. 975.6073734760284 total seconds elapsed
importing rows 25600000 to 25700000...Done. 978.8851990699768 total seconds elapsed
importing rows 25700000 to 25800000...Done. 982.124080657959 total seconds elapsed
importing rows 25800000 to 25900000...Done. 985.429963350296 total seconds elapsed
importing rows 25900000 to 26000000...Done. 988.7202658653259 total seconds elapsed
importing rows 26000000 to 26024289...Done. 989.5749411582947 total seconds elapsed